@tailwind base;
@tailwind components;
@tailwind utilities;

$brand-red: #bb372a;
$font-primary: "Manrope", sans-serif;

// Small devices
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// Medium devices
@mixin tablet {
  @media (max-width: 1023.5px) {
    @content;
  }
}

// Large devices
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

body {
  font-family: $font-primary;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #ffe7e4;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #bb372a;
  border-radius: 8px;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
  max-width: 1600px;
  margin: 0 auto;

  @include mobile {
    padding: 0 16px;
    max-width: 100%;
  }
}

header {
  &.solid-nav-anim {
    background-color: #fff;
    transition: all 0.2s linear;
  }
}

@include tablet {
  main {
    margin-top: 0 !important;
  }

  .dotlottie {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
  }
}

//Typography
h1,
h2,
h3,
h4,
h5,
h6,
.subtitle1,
.subtitle2,
.lead1,
.lead2,
.body1,
.body2,
.capitalized {
  color: #18191f;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 98px;

  @include mobile {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
  }
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;

  @include mobile {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
  }
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 54px;

  @include mobile {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
  }
}

h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.subtitle1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.subtitle2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.lead1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  @include mobile {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.lead2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.body1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.body2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.label-lg {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.label-md {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.label-sm {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.capitalized {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.topnav {
  border-bottom: 1px solid #ffe7ef;
  .phone-email {
    a {
      font-size: 14px;
    }
  }
  .icons {
    a {
      transition: transform ease-in 0.1s;
      &:hover {
        transform: scale(1.1);
      }
      &:last-child {
        i {
          margin: 0px;
        }
      }
    }
    i {
      margin: 0px 32px 0px 0px;
      color: #bb372a;
      font-size: 24px;
    }
  }
}

#particles-js {
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    z-index: 5;
  }
}

.hero {
  .hero-content {
    padding: 0 !important;
    min-width: 100% !important;
  }
}

.tech-section {
  .grid {
    .row-span-3 {
      img {
        transition: transform 0.4s ease;
        background: #fff;
        height: 96px;
        width: 170px;

        @include mobile {
          height: 45px;
          width: 90px;
        }

        border-radius: 10px;
        box-shadow: 0px 3px 5px #ddd7d7;
        margin-right: auto;
        margin-left: auto;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

.stats-section {
  background: linear-gradient(to bottom, #ffe7e4 50%, #ffffff 50%);
  .container {
    .grid {
      background: #ffffff;
    }
  }
}

.testimonial {
  .testimonials {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.service-hero {
  background: url(../assets/images/servicebg.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 0px 180px 29px -35px rgba(255, 255, 255, 0.7) inset;
  .laptop {
    height: 250px;
  }
}
.career-hero {
  background: url(../assets/images/careerbg.jpg) no-repeat top;
  background-size: cover;
  box-shadow: 0px 160px 29px -35px rgba(255, 255, 255, 0.7) inset;
  .laptop {
    height: 250px;
  }
}
.contact-hero {
  background: url(../assets/images/contactbg.jpg) no-repeat top;
  background-size: cover;
  box-shadow: 0px 160px 29px -35px rgba(255, 255, 255, 0.7) inset;
  .laptop {
    height: 250px;
  }
}

.address-section{
  background: url(../assets/images/mapbg.png) no-repeat bottom;
  background-size: 100% 500px;
  @include mobile{
    background-size: 100% 300px;
  }
}

.solution-section {
  .bg-accent {
    background: url(../assets/images/hexabg.png) no-repeat right;
    background-color: #ffaca3;
    background-size: contain;

    @include mobile {
      background: #ffaca3;
    }
  }
}

.our-mission {
  .img-box {
    height: 378px;
  }
}

.about-section {
  background: url(../assets/images/aboutbg.png) right no-repeat;
  background-size: contain;
  height: calc(100vh - 128px);
}

.services-section {
  .grid {
    i {
      font-size: 32px;
      line-height: 32px;
      height: 65px;
      width: 65px;
      display: flex;
      background: #ffe7e4;
      border-radius: 99999999px;
      color: #bb372a;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
    }
  }
}

#service {
  .modal-box {
    ul {
      padding-left: 24px;
      list-style: initial;
      li {
        list-style-type: disclosure-closed;
        margin-bottom: 4px;
      }
    }
  }
}
