@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
  max-width: 1800px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
    max-width: 100%;
  }
}

header.solid-nav-anim {
  background-color: #fff;
  transition: all 0.2s linear;
}

@media (max-width: 1023.5px) {
  main {
    margin-top: 0 !important;
  }
  .dotlottie {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.subtitle1,
.subtitle2,
.lead1,
.lead2,
.body1,
.body2,
.capitalized {
  color: #18191F;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 98px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
  }
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
  }
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 54px;
}

h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.subtitle1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.subtitle2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.lead1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@media (max-width: 768px) {
  .lead1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.lead2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.body1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.body2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.label-lg {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.label-md {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.label-sm {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.capitalized {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.topnav {
  border-bottom: 1px solid #ffe7ef;
}
.topnav .phone-email a {
  font-size: 14px;
}
.topnav .icons a {
  transition: transform ease-in 0.1s;
}
.topnav .icons a:hover {
  transform: scale(1.1);
}
.topnav .icons a:last-child i {
  margin: 0px;
}
.topnav .icons i {
  margin: 0px 32px 0px 0px;
  color: #bb372a;
  font-size: 24px;
}

#particles-js {
  position: relative;
}
#particles-js canvas {
  position: absolute;
  top: 0;
  z-index: 5;
}

.hero .hero-content {
  padding: 0 !important;
  min-width: 100% !important;
}

.tech-section .grid .row-span-3 img {
  transition: transform 0.4s ease;
  background: #fff;
  height: 96px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #ddd7d7;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  .tech-section .grid .row-span-3 img {
    height: 45px;
    width: 90px;
  }
}
.tech-section .grid .row-span-3 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}/*# sourceMappingURL=input.css.map */